/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
  .page {
    --wght-title: 785;
    --wght-content: 465;
    --background-color: #000;
    --color-text: #00cc14;
    --color-focus: rgba(0, 204, 20, 0.6);
    --font-weight-title-content: 785;
    --font-weight-main-content: 465;
    --color-text-button-hover: #00cc14;
    --color-contur-heart: #00cc14;
    --gradient: repeating-linear-gradient(
        90deg,
        #000 0 2px,
        rgba(0 0 0/ 0) 2px 4px
      ),
      repeating-linear-gradient(180deg, #000 0 2px, rgba(0 0 0/ 0) 2px 4px),
      repeating-linear-gradient(to bottom, #007f0c 0.01%, #004306 100%);

    font-family: var(--font-family-main);
    color: var(--color-text);
    background-image: var(--gradient);
  }
}

:root.theme-light {
  .page {
    --wght-title: 700;
    --wght-content: 400;
    --background-color: #fff;
    --color-text: #000;
    --color-focus: rgba(0, 0, 0, 0.6);
    --font-weight-title-content: 700;
    --font-weight-main-content: 400;
    --font-size-main: 18px;
    --color-text-button-hover: #fff;
    --color-contur-heart: #000;
    --color-main-heart: #ff0000;
    --gradient: repeating-linear-gradient(
        90deg,
        #d3d3d3 0 2px,
        rgba(0 0 0/ 0) 2px 4px
      ),
      repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgba(0 0 0/ 0) 2px 4px),
      repeating-linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);

    font-family: var(--font-family-main);
    color: var(--color-text);
    background-image: var(--gradient);
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --wght-title: 785;
    --wght-content: 465;
    --background-color: #000;
    --color-text: #00cc14;
    --color-focus: rgba(0, 204, 20, 0.6);
    --font-weight-title-content: 785;
    --font-weight-main-content: 465;
    --color-text-button-hover: #00cc14;
    --color-contur-heart: #00cc14;
    --gradient: repeating-linear-gradient(
        90deg,
        #000 0 2px,
        rgba(0 0 0/ 0) 2px 4px
      ),
      repeating-linear-gradient(180deg, #000 0 2px, rgba(0 0 0/ 0) 2px 4px),
      repeating-linear-gradient(to bottom, #007f0c 0.01%, #004306 100%);

    font-family: var(--font-family-main);
    color: var(--color-text);
    background-image: var(--gradient);
  }
}
